<% if user_signed_in? && current_user.favorites_tag?(v) %>
  <%= link_to favtag_tagfavorite_path(v.id),method: :delete, remote: true do %>
    <span class="mdi mdi-checkbox-marked mdi-20px"></span>
    <%end%>
<% else %>
  <%= link_to favtag_tagfavorite_path(v.id),method: :post, remote: true do%>
    <span class="mdi mdi-checkbox-blank-outline mdi-20px"></span>
    <%end%>
<% end %>

