.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.text-center {
  text-align: center!important;
}

.auth-btn{
  margin-right: 10px;
  margin-left: 10px;
  color: black;
}

.login-container{
  margin-top: 50px;
}

